# PROJECT : PREDICTING FLIGHT TIME PERFORMANCES ACROSS THE U.S.

## Project Overview: 

The purpose of this Project is to analyze and predict flight time performances across the United States of America. 

(The dataset used consists of domestic flight information only).

## Reading and Opening the Dataset
In this first step we will read into the dataset and import the few necessary modules.

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display 
%matplotlib inline 

data = "flight_data.csv"
load_data = pd.read_csv(data)
flight_data = load_data

print("Data loaded Successfully")
print("The data has {} samples with {} features each".format(*flight_data.shape))

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Data loaded Successfully
The data has 445827 samples with 110 features each

After we have finished loading and reading into the dataset. We can expirment and learn general information from the data. One simple way of analyzing a database is by describing the data, Like below:

In [2]:
flight_data.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
display(flight_data.describe())

,Year,Quarter,Month,DayofMonth,DayOfWeek,AirlineID,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,445827.0,445827.0,445827.0,445827.000000,445827.000000,445827.000000,445827.000000,445827.000000,4.458270e+05,445827.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2016.0,1.0,1.0,15.893510,4.113815,19903.085069,2078.856456,12682.120789,1.268215e+06,31723.938281,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.936692,2.005007,382.853084,1757.269780,1529.485604,1.529483e+05,1280.460591,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2016.0,1.0,1.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013503e+06,30070.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2016.0,1.0,1.0,8.000000,2.000000,19790.000000,702.000000,11292.000000,1.129202e+06,30615.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2016.0,1.0,1.0,16.000000,4.000000,19805.000000,1594.000000,12889.000000,1.288903e+06,31453.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2016.0,1.0,1.0,24.000000,6.000000,20304.000000,2763.000000,14027.000000,1.402702e+06,32467.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2016.0,1.0,1.0,31.000000,7.000000,21171.000000,7438.000000,16218.000000,1.621801e+06,35991.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Identifying Missing Values in the dataset 

Before we move any further it is important to see if there is data missing from the dataset. We will identify to see if there are any missing values within the dataset.

In [4]:
missing_flight_data = flight_data.isnull().sum()
print(missing_flight_data)

Year                       0
Quarter                    0
Month                      0
DayofMonth                 0
DayOfWeek                  0
FlightDate                 0
UniqueCarrier              0
AirlineID                  0
Carrier                    0
TailNum                 4244
FlightNum                  0
OriginAirportID            0
OriginAirportSeqID         0
OriginCityMarketID         0
Origin                     0
OriginCityName             0
OriginState                0
OriginStateFips            0
OriginStateName            0
OriginWac                  0
DestAirportID              0
DestAirportSeqID           0
DestCityMarketID           0
Dest                       0
DestCityName               0
DestState                  0
DestStateFips              0
DestStateName              0
DestWac                    0
CRSDepTime                 0
                       ...
Div2WheelsOn          445821
Div2TotalGTime        445821
Div2LongestGTime      445821
Div2WheelsOff         445827
Div2TailNum           445827
Div3Airport           445827
Div3AirportID         445827
Div3AirportSeqID      445827
Div3WheelsOn          445827
Div3TotalGTime        445827
Div3LongestGTime      445827
Div3WheelsOff         445827
Div3TailNum           445827
Div4Airport           445827
Div4AirportID         445827
Div4AirportSeqID      445827
Div4WheelsOn          445827
Div4TotalGTime        445827
Div4LongestGTime      445827
Div4WheelsOff         445827
Div4TailNum           445827
Div5Airport           445827
Div5AirportID         445827
Div5AirportSeqID      445827
Div5WheelsOn          445827
Div5TotalGTime        445827
Div5LongestGTime      445827
Div5WheelsOff         445827
Div5TailNum           445827
Unnamed: 109          445827
dtype: int64

## Data Exploration

In the upcoming step(s) we will analyze most of the features consisting or have any impact with time.

### Making a Copy of the DataSet

Before we move ahead and start getting our hands dirty with the data, it is a wise idea to create a copy of the dataset first. Why? This is because any analyses we do or any code we implement should not affect the main dataset. If we do not copy the dataset we can sometimes create or tamper with the original data which can be an issue later on in the calculative and prediction stages

In [2]:
flight_data_copy = flight_data.copy()
print("Flight Data has been Copied!")

Flight Data has been Copied!