# PROJECT : PREDICTING FLIGHT TIME PERFORMANCES ACROSS THE U.S.

## Project Overview: 

The purpose of this Project is to analyze and predict flight time performances across the United States of America. 

(The dataset used consists of domestic flight information only).

### Reading into the Dataset
In this first step we will read into the dataset and import the few necessary modules.

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display 
%matplotlib inline 

data = "flight_data.csv"
load_data = pd.read_csv(data)
flight_data = load_data

print("Data loaded Successfully")
print("The data has {} samples with {} features each".format(*flight_data.shape))

Data loaded Successfully
The data has 445827 samples with 110 features each

In [8]:
flight_data.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

After we have finished loading and reading into the dataset. We can expirment and learn general information from the data. One simple way of analyzing a database is by describing the data, Like below:

In [3]:
display(flight_data.describe())

,Year,Quarter,Month,DayofMonth,DayOfWeek,AirlineID,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,445827.0,445827.0,445827.0,445827.000000,445827.000000,445827.000000,445827.000000,445827.000000,4.458270e+05,445827.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2016.0,1.0,1.0,15.893510,4.113815,19903.085069,2078.856456,12682.120789,1.268215e+06,31723.938281,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.936692,2.005007,382.853084,1757.269780,1529.485604,1.529483e+05,1280.460591,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2016.0,1.0,1.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013503e+06,30070.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2016.0,1.0,1.0,8.000000,2.000000,19790.000000,702.000000,11292.000000,1.129202e+06,30615.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2016.0,1.0,1.0,16.000000,4.000000,19805.000000,1594.000000,12889.000000,1.288903e+06,31453.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2016.0,1.0,1.0,24.000000,6.000000,20304.000000,2763.000000,14027.000000,1.402702e+06,32467.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2016.0,1.0,1.0,31.000000,7.000000,21171.000000,7438.000000,16218.000000,1.621801e+06,35991.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Identifying Missing Values in the Dataset 

In this step we will analyze to see if there are any missing values within the dataset.