# PROJECT : PREDICTING FLIGHT TIME PERFORMANCES ACROSS THE U.S.

## Project Overview: 

The purpose of this Project is to analyze and predict flight time performances across the United States of America. 

(The dataset used consists of domestic flight information only).

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display 
%matplotlib inline 

data = "flight_data.csv"
load_data = pd.read_csv(data)
flight_data = load_data

print("Data loaded Successfully")
print("The data has {} samples with {} features each".format(*flight_data.shape))

Data loaded Successfully
The data has 445827 samples with 110 features each

#### STEP: Reading into the Dataset
In this first step we will read into the dataset and import the few necessary modules.

In [8]:
flight_data.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN